<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uz.click.mobilesdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />
    </application>

</manifest>
